<a href="https://colab.research.google.com/github/AmanCrafts/Maths-AI-Project/blob/main/Team_Donut_Maths_AI_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [2]:
from google.colab import drive
drive.mount('/content/drive') #connected to drive

df = pd.read_csv('/content/drive/MyDrive/MathsProject/covid_data.csv')
print(df.head)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
           Country  Total Cases  New Cases Total Deaths  New Deaths
0    North America  128,176,011        NaN    1,645,417         NaN
1             Asia  220,733,449       67.0    1,549,698         NaN
2           Europe  249,987,374       58.0    2,071,024         1.0
3    South America   68,987,851        NaN    1,360,616         NaN
4          Oceania   14,644,324        NaN       30,358         NaN
..             ...          ...        ...          ...         ...
242         Total:   68,987,851        NaN    1,360,616         NaN
243         Total:   14,644,324        NaN       30,358         NaN
244         Total:   12,837,874        NaN      258,830         NaN
245         Total:          721        NaN           15         NaN
246         Total:  695,367,604      125.0    6,915,958         1.0

[247 rows x 5 columns]